.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: block;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

body.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

body.dark-mode .card-overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

body.dark-mode .project-card {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .section-heading {
  color: #f5f5f5;
}

body.dark-mode hr {
  border-color: rgba(255, 255, 255, 0.2);
}
